{
    "server": {
        "port": 3000
    },
    "db": {
        "host": "localhost",
        "port": 3306,
        "ssl": false,
        "user": "user",
        "pw": "pw",
        "database": "db"
    }
}